{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Template file for chezmoi config file */ -}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $work := false -}}{{/* true if this is a work machine */}}
{{- $personal := false -}}{{/* true if this is a personal machine */}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "MrFrame" -}}
{{-   $personal = true -}}
{{- else if eq $hostname "Joshs-MacBook-Pro" -}}
{{-   $work = true -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

data:
  headless: {{ $headless }}
  work: {{ $work }}
  personal: {{ $personal }}
format: yaml
sourceDir: ~/dotfiles
git:
  autoAdd: true
diff:
  exclude: ["externals"]
